/* --------footer---- */
.footer {
    background-color: #212529;
    color: #fff;
    padding: 1em;
    justify-content: space-around;
}

.social-media {
    display: flex;
    align-items: center;
    width: 25%;
    flex-direction: row;
    justify-content: space-around;
}

.footer p{
    width: 30%;
    text-align: center;
}